@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1{
    font-family: 'Poppins', sans-serif;
    margin: 32px 0;
    padding: 0 48px;
    font-weight: 600;
}

.table{
    display: grid;
    place-items: center;
    margin: 32px auto;
    background: #ecf1f5;
    padding:26px;
    border-radius: 12px;
}

.table-header{
    background: rgba(0,0,0,0.7);
    margin-bottom: 24px;
}

.table-header, .table-appointments{
    display: grid;
    grid-template-columns: 13% 13% 10% 11% 18% 16% 4% 4% 4%;
    width:100%;
    padding:5px 8px;
    place-content: center;
}

.table-header h2, .table-appointments h2{
    font-size:16px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 6px 0;
    text-align: center;
    font-weight: 550;
    color:white;
    width: 70%;
}

.table-appointments h2{
    font-weight: 400;
    color:black;
    text-transform: capitalize;
}

.edit-popup{
    width:100%;
    position: fixed;
    top:0;
    right:0;
    background: rgba(0,0,0,0.5);
    height:100%;
    display: grid;
    place-content: center;
    place-items: center;
}

.popup{
    width:600px;
    height:550px;
    background: white;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

.action-buttons{
    width:100%;
    text-align: right;
    padding: 24px 0;
}

button{
    padding:12px 24px;
    outline:none;
    border:none;
    border-radius: 5px;
    /*background: #4361ee;*/
    background: rgba(0,0,0,0.7);
    color:white;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

img{
    width:24px;
    height:24px;
    padding: 0 2px;
    cursor: pointer;

}

